nav ul li{
    text-align:center;
    display:inline;
}

#AboutMe p{

  text-indent: 50px;
}

body{
	background-color: lavender;
	
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#interests">Interests</a></li>
  <li><a href="#aboutme">About Met</a></li>
  <li><a href="#contactinfo">Contact Info</a></li>
  <li><a href="#projects">Projects</a></li>
</ul>



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


</head>
<body>

<h2>Fixed/Sticky Footer Example</h2>
<p>The footer is placed at the bottom of the page.</p>

<div class="footer">
  <p>This web page is created by Richlove Nkansah</p>
    <p> "MINDSET IS WHAT SEPRATES THE BEST FROM THE REST"
</div>



