nav ul li{
    text-align:center;
    display:inline;
}

#AboutMe p{

  text-indent: 50px;
}

body{
	background-color: lavender;
	
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;






