body {
margin:0; padding:0;	
}

#wrapper {
	position:absolute; display:block; top:0; left:0; width:726px; height:88px; margin:0; padding:0; border:1px solid #4b4b4b;
	/*cursor:pointer;*/
	overflow:hidden;
	background:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	font-size:14px;
}

#loading {
	position:absolute;
	top:0;
	left:0;
	width:728px;
	height:90px;
	background: #4b4b4b center center no-repeat;
}

#mask{
	position:absolute;
	width:100%;
	height:100%;
	top:0;left:0;
	cursor:pointer;
}

#left_bgr {
	position:absolute;
	top:0;
	left:133px;
	width:160px;
	height:90px;
	background:#444444;
}

#right_bgr {
	position:absolute;
	top:0;
	right:0px;
	width:160px;
	height:90px;
	background:#444444;
}

#all_inclusive_background {
	position:absolute;
	bottom:0;
	left:0;
	width:300px;
	height:43px;
	background:#fff;

}

#all_inclusive_promo {
	position:absolute;
	left:140px;
	bottom:13px;
	width:100px;
	text-align:center;
	font-size:13px;
	font-weight:700;
	font-style:italic;
	text-transform:uppercase;
	color:#fff;
}

#all_inclusive_type {
	position:absolute;
	top:14px;
	left:4px;
	width:150px;
	font-size:12px;
	font-weight:400;
	text-transform:none;
	text-align:left;
}

#all_inclusive_text span, #all_inclusive_type span {
	color: #62c623;
}

#all_inclusive_type span {
	text-decoration:none;
	font-weight:bold;
}

#headline {
	position:absolute;
	top:50px;
	left:-1px;
	width:133px;
	height:40px;
	background: url('headline_728x90.png') center center no-repeat;
	background-size: 100% 100%;
    background-repeat: no-repeat;	
}

#bg-exit {
  background-color: rgba(255,255,255,0);
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

/* Slider options */

#slider {
	position:absolute;
	top:-45px;
	left:267px;
	width:300px;
	height:90px;	
}

.slider_item {
	float:left;
	width:300px;
	height:250px;
	background:#eee;
}


#arr_left,#arr_left_2{
	position:absolute;
	top:30px;
	width:25px;
	height:25px;
	cursor:pointer;
	left:300px;
}

#arr_right,#arr_right_2{
	position:absolute;
	top:30px;
	width:25px;
	height:25px;
	cursor:pointer;
	right:170px;
}

#slides_wrapper {
	position:absolute;
	top:0;
	left:0;
	width:230px;
	height:225px;
}

#rating {
	position:absolute;
	top:100px;
	left:10px;
	width:90px;
}

#top {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	position:absolute;
	top:0;
	left:0;
	color:#fff;
	background:#fff;
	width:292px;
	height:90px;
}

#bottom {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	position:absolute;
	top:356px;
	left:0;
	background:#fff;
	width:100%;
	height:70px;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}

#bottom_bgr {
	display: none;
	position:absolute; top:425px;width:100%;height:175px;
}



#triangle {
	position:absolute; top:131px;left:0;width: 0; 
	height: 0; 
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-top: 12px solid #4b4b4b;
}

#hotel_name {
	position:absolute;
	top:5px;
	left:5px;
	width:70px;
	font-size:12px;
	line-height:10px;
}

#hotel_area {
	position:absolute;
	bottom:5px;
	left:5px;
	font-size:12px;
}

#hotel_offer {
	position:absolute;
	display:none;
	bottom:0px;
	right:0px;
	width:80px;
	height:70px;
	border-left: 1px solid #d6d6d6; 
	text-align:center;
	font-size:10px;
	line-height:10px;
}

.push_bottom {
	width:100%;
	display:block;
	margin-bottom:43px;
}

.price, .price_old {
	color:#62c623;
	position:absolute;
	top:10px;
	left:0;
	font-size:30px;
	font-weight:600;
	line-height:20px;
	width:100%;
	text-align:center;
}

.price_old {
	color:#4d4d4d;
}

#scratch {
	position:absolute;
	top:12px;
	left:5px;
	width:70px;
	height:40px;
}

#cta {
	cursor:pointer;
	position:absolute;
	right:7px;
	margin-left:-140px;
	bottom:6px;
	font-size:13px;
	font-weight:400;
	line-height:30px;
	height:30px;
	width:144px;
	border-radius: 3px;
	background: #62c623;
	color: #fff;
	text-align:center;
	text-shadow: 1px 1px 0 rgba(0,0,0, 0.3);
}

#cta:hover {
	background: #336600;
	color: #fff;
	text-align:center;
}

#promo_text {
	position:absolute;
	color:#fff;
	top:75px;
	left:5px;
	width:150px;	
	line-height:16px;
	font-size:18px;
	text-align:right;	
}

#logo {
	position:absolute;
	top:10px;
	left:10px;	
	width:100px;
	height:33px;
	background: url('bookit_logo_black.png') center center no-repeat;
	background-size: 100% 100%;
    background-repeat: no-repeat;	
    cursor:pointer;
}

#logo_preload {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-60.5px;
	margin-top:-21px;	
	width:121px;
	height:42px;
	background: url('bookit_logo.png') center center no-repeat;
	background-size: 100% 100%;
    background-repeat: no-repeat;	
}


#offer {
	position:absolute;
	visibility:hidden;
	width:100%;
	height:100%;
	background:#4b4b4b;
	/*background:rgba(0,0,0,0.5);*/
	padding-top:72px;
	text-transform:uppercase;
}

#offer_logo {
	position:absolute;
	top:17px;
	left:50%;
	margin-left:-70px;	
	width:140px;
	height:49px;
	background: url('bookit_logo.png') center center no-repeat;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#offer_slogans {
	margin-top:30px;
}

.offers {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size:16px;
	line-height:16px;
	color:#fff;
	float:left;
	display:block;
	width:140px;
	margin-left:10px;
	text-align:center;
	padding-bottom:30px;
}

.small_offer {
	font-family: 'Source Sans Pro', sans-serif;
	position:absolute;
	font-weight: 700;
	font-size:14px;
	line-height:16px;
	color:#fff;
	float:left;
	display:block;
	width:140px;
	text-align:center;
	background:#62c623;
	cursor:pointer;
	bottom:145px;
	padding:10px;

}

#plane {
	float:right;
	width:15px;
	height:15px;
	margin-right:5px;
	margin-left:4px;
}

#static_promo {
	position:absolute;
	top:0px;
	left:133px;
	width:160px;
	height:60px;
	background: url('promo_copy_728x90.png') center center no-repeat;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#cta_message {
	position:absolute;
	top:0px;
	right:0px;
	width:157px;
	height:19px;
	background: url('cta_728x90.png') center center no-repeat;
	background-size: 100% 100%;
	background-repeat: no-repeat;	
}

#counter {
	font-weight: 400;
	position:absolute;
	font-size:13px;
	width:130px;
	height:50px;
	bottom:21px;
	right:0px;
	line-height:10px;
}

#counter_hours, #counter_minutes, #counter_seconds{
	position:absolute;
	color:#fff;
	text-align:center;
	font-size:10px;
}

#counter_hours span, #counter_minutes span, #counter_seconds span{
	font-weight:bold;
	font-size:14px;
}

#counter_hours {
	top:6px;
	left:8px; /*originally 4*/
}

#counter_minutes {
	top:6px;
	left:45px;
}

#counter_seconds {
   	top:6px;
	left:83px;
}


#circ_hours {
	position:absolute;
	left:0px;
	width:30px;
	height:30px;	
}

#circ_minutes {
	position:absolute;
	left:38px;
	width:30px;
	height:30px;	
}

#circ_seconds {
	position:absolute;
	left:75px;
	width:30px;
	height:30px;	
}








